<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Title</th>
      <th colspan="3">Category</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.category.name %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
