<div class="blog-edit-header">
  <h1>Editing Blog</h1>
  <span>
    <%= link_to 'Show', zero_blogs_path(@blog), class: 'btn btn-primary' %>
  </span>
  <span>
    <%= link_to 'Back', zero_blogs_path, class: 'btn btn-info' %>
  </span>
</div>

<div class="blog-new">
  <%= render 'form', blog: @blog %>
</div>






