local:
  service: Disk
  root: <%= Rails.root.join("storage") %>
 
test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %> 
  
development:
  
production:
  service: Disk
  root: <%= Rails.root.join("storage") %>