.blog-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-bar {
  margin: 60px 60px 0 20px;
  width: 100px;
  .category-title {
    margin-bottom: 10px;
  }
  p {
    .category-tag {
      height: 8px;      
    }
  }
}
.blog-show {
  margin: 60px 20px 60px 120px;
  min-width: 680px;
  min-width: 680px;
  .breadcrumb {
    background-color: white;
    opacity: 0.8;
    li {
      a:link {
        text-decoration: none;
      }
    }
  }
  .title {
    margin: 40px 0;
  }
  .blog-content {
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    opacity: 0.8;
    min-height: 200px;
  }
  .blog-comment {
    margin-top: 30px;
    .comments {
      .comment {
        display: flex;
        margin: 25px 0;
        .user-avatar {
          border-radius: 10px;
        }
        .comment-info {
          opacity: 0.8;
          background-color: #fff;
          border: 1px solid #d1d5da;
          border-radius: 3px;
          flex: 1;
          .comment-top {
            display: flex;
            justify-content: space-between;
            color: #586069;
            padding: 3px 10px;
            background-color: #f6f8fa;
            border-bottom: 1px solid #d1d5da;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            .comment-at {
              font-size: 14px;
            }
          }
          .comment-content {
            padding: 3px 10px;
          }
        }
      }
    }
    .comment-content-field { 
      width: 450px;
      height: 150px;
    }
    .hint {
      font-size: 16px;
      margin: 5px;
      color: dimgrey;
    }
  }
}

.back-btn {
  margin-left: 120px;
  margin-top: 50px;
}

.blog-form {
  width: 500px;
  min-height: 300px;
}
.content-area {
  min-height: 200px;
}
.blog-form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog-content-previewer {
  margin-left: 50px;
  min-height: 500px;
  width: 600px;
}
.blog-index {
  padding-top: 120px;
}
.blog-block {
  .blog-title {
    color: black;
  }
  .blog-title:hover {
    color: #1E90FF;
    text-decoration: none;
  }
  .blog-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 30px;
    .blog-category {
      padding-left: 10px;
      flex: 4;
      font-size: 20px;
      .blog-category-name {
        color: black;
      }
      .blog-category-name:hover {
        color: #1E90FF;
        text-decoration: none;
      }
    }
    .blog-created-time {
      flex: 1;
    }
  }
}
hr {
  margin-top: 1rem;
  margin-bottom: 10rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.pagination {
  background-color: #8E8E8E;
  padding: 10px 15px;
  text-align: center;
  span {
    padding: 0 20px;
    font-style: oblique;
    font-size: 20px;
    a {
      color: white;
    }
    a:hover {
      color: #A4D3EE;
      text-decoration: none;
    }
  }
}
.blog-edit-header {
  margin-left: 120px;
  margin-top: 50px;
}