<nav class="navbar  navbar-expand-lg  navbar-dark bg-dark sticky-top" id="nav-header">
  <div class="container">
    <%= link_to 'ZeroHome', root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler navbar-toggler-right bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="icon ion-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'Blogs', blogs_path, class: 'nav-link py-3 px-0 px-lg-3 rounded'%>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'Categories', categories_path, class: 'nav-link py-3 px-0 px-lg-3 rounded'%>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <%= link_to 'About Zero', about_path, class: 'nav-link py-3 px-0 px-lg-3 rounded'%>
        </li>
      </ul>
    </div>
  </div>
</nav>